
h1 {
    text-align: center;
    color: blue;
    font-size: 30px;
}

form {
    margin: 0 auto;
    width: 40%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgb(105, 174, 208);    
}

input {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(105, 174, 208);
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: rgb(105, 174, 208);
    color: white;
    font-weight: bold;
    cursor: pointer;
}