:root {
    font-family: sans-serif;
}

html,
body,
div,
header,
main,
footer,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    min-height: 100vh;
}

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    background-color: #000080;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a{
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
    

}

main {
    flex: 1;
}