:root {
    font-family: sans-serif;
}

html,
body,
main,
footer,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

header,
footer {
    background-color: #000080;
    color: #fff;
    
}